web/wsdl/nmlbase.xsd

<?xml version="1.0" encoding="UTF-8"?>


<!--
 
 File:      nmlbase.xsd - Main XSD schema definition
 Version:   $Id$
 Purpose:   This is the main XSD schema file, it defines the
            general topology elements of NML.

--> 

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.ogf.org/nml/2013/05/base#"
           xmlns:nml="http://schemas.ogf.org/nml/2013/05/base#"
           elementFormDefault="qualified">


  <xs:complexType name="NetworkObject">
    <xs:sequence>
      <xs:element  name="name"      type="xs:string"         minOccurs="0"  maxOccurs="1"/>
      <xs:element  name="Lifetime"  type="nml:LifeTimeType"  minOccurs="0"  maxOccurs="1"/>
      <xs:element  name="Location"  type="nml:LocationType"  minOccurs="0"  maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute  name="id"       type="xs:anyURI"    use="optional"/>
    <xs:attribute  name="version"  type="xs:dateTime"  use="optional"/>
  </xs:complexType>


  <xs:complexType name="LocationType">
    <xs:all>
      <xs:element  name="name"      type="xs:string"   minOccurs="0"  maxOccurs="1"/>
      <xs:element  name="long"      type="xs:float"    minOccurs="0"  maxOccurs="1"/>
      <xs:element  name="lat"       type="xs:float"    minOccurs="0"  maxOccurs="1"/>
      <xs:element  name="alt"       type="xs:float"    minOccurs="0"  maxOccurs="1"/>
      <xs:element  name="unlocode"  type="xs:string"   minOccurs="0"  maxOccurs="1"/>
      <!-- address: rfc6351 xCard: vCard XML Representation -->
      <xs:element  name="address"   minOccurs="0"      maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:any namespace="##other"  processContents="lax"  minOccurs="1"  maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element> 
    </xs:all>
    <xs:attribute  name="id"  type="xs:anyURI"  use="optional"/>
  </xs:complexType>


  <xs:complexType name="LifeTimeType">
    <xs:sequence>
      <xs:element  name="start"  type="xs:dateTime" minOccurs="0"  maxOccurs="1"/>
      <xs:element  name="end"    type="xs:dateTime" minOccurs="0"  maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>


  <xs:group name="Group">
    <xs:choice>
      <xs:element  ref="nml:Topology"/>
      <xs:element  ref="nml:PortGroup"/>
      <xs:element  ref="nml:LinkGroup"/>
      <xs:element  ref="nml:BidirectionalPort"/>
      <xs:element  ref="nml:BidirectionalLink"/>
    </xs:choice>
  </xs:group>


  <!--  Topology  -->


  <xs:complexType name="TopologyRelationType">
    <xs:choice>
      <xs:element  ref="nml:Port"       minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:PortGroup"  minOccurs="1"  maxOccurs="unbounded"/>
      <xs:group    ref="nml:Service"    minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:Topology"   minOccurs="1"  maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute  name="type"  use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#hasInboundPort"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#hasOutboundPort"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#hasService"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isAlias"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:group name="BaseTopologyContent">
    <xs:sequence>
      <xs:element  ref="nml:Link"       minOccurs="0"         maxOccurs="unbounded"/>
      <xs:element  ref="nml:Port"       minOccurs="0"         maxOccurs="unbounded"/>
      <xs:element  ref="nml:Node"       minOccurs="0"         maxOccurs="unbounded"/>
      <xs:group    ref="nml:Service"    minOccurs="0"         maxOccurs="unbounded"/>
      <xs:group    ref="nml:Group"      minOccurs="0"         maxOccurs="unbounded"/>
      <xs:any      namespace="##other"  processContents="lax" minOccurs="0"  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:group>


  <xs:complexType name="TopologyType">
    <xs:complexContent>
      <xs:extension  base="nml:NetworkObject">
        <xs:sequence>
          <xs:group  ref="nml:BaseTopologyContent"/>
          <xs:element  name="Relation" type="nml:TopologyRelationType"  minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="Topology"  type="nml:TopologyType"/>


  <!--  Link  -->


  <xs:complexType name="LinkRelationType">
    <xs:sequence>
      <xs:element  ref="nml:Link"  minOccurs="1"  maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute  name="type"  use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isAlias"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isSerialCompoundLink"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#next"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:group name="BaseLinkContent">
    <xs:sequence>
      <xs:element  ref="nml:Label"  minOccurs="0"/>
      <xs:any  namespace="##other"  processContents="lax"  minOccurs="0"  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:group>


  <xs:complexType name="LinkType">
    <xs:complexContent>
      <xs:extension  base="nml:NetworkObject">
        <xs:sequence>
          <xs:group  ref="nml:BaseLinkContent"/>
          <xs:element  name="Relation"  type="nml:LinkRelationType"  minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute  name="encoding"         type="xs:anyURI"   use="optional"/>
        <xs:attribute  name="noReturnTraffic"  type="xs:boolean"  use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="Link" type="nml:LinkType"/>


  <!--  Port  -->


  <xs:complexType name="PortRelationType">
    <xs:choice>
      <xs:element  ref="nml:Link"     minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:Port"     minOccurs="1"  maxOccurs="unbounded"/>
      <xs:group    ref="nml:Service"  minOccurs="1"  maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute  name="type"  use="required">
      <xs:simpleType>
        <xs:restriction  base="xs:string">
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#hasService"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isAlias"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isSink"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isSource"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:group name="BasePortContent">
    <xs:sequence>
      <xs:element  ref="nml:Label"  minOccurs="0"  maxOccurs="1"/>
      <xs:any  namespace="##other"  processContents="lax"  minOccurs="0"  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:group>


  <xs:complexType name="PortType">
    <xs:complexContent>
      <xs:extension  base="nml:NetworkObject">
        <xs:sequence>
          <xs:group  ref="nml:BasePortContent"/>
          <xs:element  name="Relation" type="nml:PortRelationType"  minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute  name="encoding"  type="xs:anyURI"  use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="Port"  type="nml:PortType"/>


  <!--  Node  -->


  <xs:complexType name="NodeRelationType">
    <xs:choice>
      <xs:element  ref="nml:Node"              minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:Port"              minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:PortGroup"         minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:SwitchingService"  minOccurs="1"  maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute  name="type"  use="required">
      <xs:simpleType>
        <xs:restriction  base="xs:string">
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#hasInboundPort"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#hasOutboundPort"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#hasService"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isAlias"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="NodeType">
    <xs:complexContent>
      <xs:extension base="nml:NetworkObject">
        <xs:sequence>
          <xs:element  ref="nml:Node"  minOccurs="0"  maxOccurs="unbounded"/>
          <xs:element  name="Relation"  type="nml:NodeRelationType"  minOccurs="0"  maxOccurs="unbounded"/>
          <xs:any  namespace="##other"  processContents="lax"  minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="Node" type="nml:NodeType"/>


  <!--  Service  -->


  <xs:group name="Service">
    <xs:choice>
      <xs:element  ref="nml:SwitchingService"/>
      <xs:element  ref="nml:AdaptationService"/>
      <xs:element  ref="nml:DeadaptationService"/>
    </xs:choice>
  </xs:group>


  <!-- SwitchingService -->


  <xs:complexType name="SwitchingServiceRelationType">
    <xs:choice>
      <xs:element  ref="nml:Port"              minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:PortGroup"         minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:SwitchingService"  minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:Link"              minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:LinkGroup"         minOccurs="1"  maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute  name="type"  use="required">
      <xs:simpleType>
        <xs:restriction  base="xs:string">
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#hasInboundPort"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#hasOutboundPort"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isAlias"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#providesLink"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="SwitchingServiceType">
    <xs:complexContent>
      <xs:extension  base="nml:NetworkObject">
        <xs:sequence>
          <xs:element  name="Relation"  type="nml:SwitchingServiceRelationType"  minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute  name="encoding"       type="xs:anyURI"   use="optional"/>
        <xs:attribute  name="labelSwapping"  type="xs:boolean"  use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="SwitchingService"  type="nml:SwitchingServiceType"/>


  <!--  AdaptationService -->


  <xs:complexType name="AdaptationServiceRelationType">
    <xs:choice>
      <xs:element  ref="nml:Port"               minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:PortGroup"          minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:AdaptationService"  minOccurs="1"  maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute  name="type"  use="required">
      <xs:simpleType>
        <xs:restriction  base="xs:string">
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#canProvidePort"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isAlias"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#providesPort"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="AdaptationServiceType">
    <xs:complexContent>
      <xs:extension  base="nml:NetworkObject">
        <xs:sequence>
          <xs:element  name="Relation"  type="nml:AdaptationServiceRelationType"  minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute  name="adaptationFunction"  type="xs:anyURI"  use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="AdaptationService"  type="nml:AdaptationServiceType"/>


  <!-- DeadaptationService -->


  <xs:complexType name="DeadaptationServiceRelationType">
    <xs:choice>
      <xs:element  ref="nml:Port"                 minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:PortGroup"            minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:DeadaptationService"  minOccurs="1"  maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute  name="type"  use="required">
      <xs:simpleType>
        <xs:restriction  base="xs:string">
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#canProvidePort"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isAlias"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#providesPort"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="DeadaptationServiceType">
    <xs:complexContent>
      <xs:extension  base="nml:NetworkObject">
        <xs:sequence>
          <xs:element  name="Relation" type="nml:DeadaptationServiceRelationType"  minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute  name="adaptationFunction"  type="xs:anyURI"  use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="DeadaptationService"  type="nml:DeadaptationServiceType"/>


  <!--  Label  -->


  <xs:complexType name="LabelType">
    <xs:simpleContent>
      <xs:extension  base="xs:string">
        <xs:attribute  name="labeltype"  type="xs:anyURI"  use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:element name="Label"  type="nml:LabelType"/>


  <!--  LinkGroup  -->


  <xs:complexType name="LinkGroupRelationType">
    <xs:sequence>
      <xs:element  ref="nml:LinkGroup"  minOccurs="1"  maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute  name="type"  use="required">
      <xs:simpleType>
        <xs:restriction  base="xs:string">
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isAlias"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isSerialCompoundLink"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:group name="BaseLinkGroup">
    <xs:sequence>
      <xs:element ref="nml:LabelGroup"  minOccurs="0"  maxOccurs="unbounded"/>
      <xs:element ref="nml:Link"        minOccurs="0"  maxOccurs="unbounded"/>
      <xs:element ref="nml:LinkGroup"   minOccurs="0"  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:group>


  <xs:complexType name="LinkGroupType">
    <xs:complexContent>
      <xs:extension  base="nml:NetworkObject">
        <xs:sequence>
          <xs:group  ref="nml:BaseLinkGroup"/>
          <xs:element  name="Relation"  type="nml:LinkGroupRelationType"  minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="LinkGroup"  type="nml:LinkGroupType"/>


  <!--  PortGroup  -->


  <xs:complexType name="PortGroupRelationType">
    <xs:choice>
      <xs:element  ref="nml:PortGroup"  minOccurs="1"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:LinkGroup"  minOccurs="1"  maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute  name="type"  use="required">
      <xs:simpleType>
        <xs:restriction  base="xs:string">
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isAlias"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isSink"/>
          <xs:enumeration  value="http://schemas.ogf.org/nml/2013/05/base#isSource"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:group name="BasePortGroup">
    <xs:sequence>
      <xs:element  ref="nml:LabelGroup"  minOccurs="0"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:Port"        minOccurs="0"  maxOccurs="unbounded"/>
      <xs:element  ref="nml:PortGroup"   minOccurs="0"  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:group>


  <xs:complexType name="PortGroupType">
    <xs:complexContent>
      <xs:extension  base="nml:NetworkObject">
        <xs:sequence>
          <xs:group  ref="nml:BasePortGroup"/>
          <xs:element  name="Relation" type="nml:PortGroupRelationType"  minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute  name="encoding"  type="xs:anyURI"  use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="PortGroup"  type="nml:PortGroupType"/>



  <!--  BidirectionalLink  -->


  <xs:group name="BaseBidirectionalLink">
    <xs:choice>
      <xs:sequence>
        <xs:element  ref="nml:Link"/>
        <xs:element  ref="nml:Link"/>
      </xs:sequence>
      <xs:sequence>
        <xs:element  ref="nml:LinkGroup"/>
        <xs:element  ref="nml:LinkGroup"/>
      </xs:sequence>
    </xs:choice>
  </xs:group>


  <xs:complexType name="BidirectionalLinkType">
    <xs:complexContent>
      <xs:extension  base="nml:NetworkObject">
        <xs:group  ref="nml:BaseBidirectionalLink"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="BidirectionalLink"  type="nml:BidirectionalLinkType"/>


  <!--  BidirectionalPort  -->


  <xs:group name="BaseBidirectionalPort">
    <xs:choice>
      <xs:sequence>
        <xs:element  ref="nml:Port"/>
        <xs:element  ref="nml:Port"/>
      </xs:sequence>
      <xs:sequence>
        <xs:element  ref="nml:PortGroup"/>
        <xs:element  ref="nml:PortGroup"/>
      </xs:sequence>
    </xs:choice>
  </xs:group>


  <xs:complexType name="BidirectionalPortType">
    <xs:complexContent>
      <xs:extension  base="nml:NetworkObject">
        <xs:group  ref="nml:BaseBidirectionalPort"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="BidirectionalPort"  type="nml:BidirectionalPortType"/>


  <!--  LabelGroup  -->


  <xs:complexType name="LabelGroupType">
    <xs:simpleContent>
      <xs:extension  base="xs:string">
        <xs:attribute  name="labeltype"  type="xs:anyURI"  use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:element name="LabelGroup"  type="nml:LabelGroupType"/>


</xs:schema>
